body {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.clear-fix {
    clear: both;
}

.gray {
    background-color: grey;
    width: 100%;
    color: black;
    font-size: 16px;
    height: 20px;
    text-align: center;
}

.wrapper-block {
    width: 100%;
    height: 1400px;
    background-color: red;
}
.header {
    background-color: hotpink;
    color: black;
    margin: 1px 1px 0 1px;
    width: 100%;
    float: left;
    height: 300px;
    text-align: center;
    font-size: 16px;
}
.header-white {
    margin: 70px auto 50px auto;
    width: 60%;
    height: 100px;
    background-color: #fff;
}

.header-black {
    display: inline-block;
    float: right;
    margin: 25px 20% 25px 20%;
    width: 60%;
    height: 50px;
    background-color: black;
}



.menu-blue {
    background-color: dodgerblue;
    float: right;
    height: 200px;
    width: 24.999%;
}

.menu-orange {
    background-color: orange;
    float: right;
    height: 200px;
    width: 24.999%;
}

.menu-yellow {
    background-color: yellow;
    float: right;
    height: 200px;
    width: 24.999%;
}

.menu {
    width: 100%;
    height: 100px;
}

.content {
    height: 400px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.content-left {
    float: left;
    background-color: green;
    height: 400px;
    width: 33.333%;
}

.content-center {
    float: left;
    height: 100px;
    width: 33.333%;
}

.content-right {
    float: left;
    background-color: blue;
    height: 400px;
    width: 33.333%;
    text-align: center;
}

.content-inner {
    width: 70%;
    margin: 100px auto 0 auto;
    height: 250px;
}

.content-inner .left {
    background-color: orange;
    width: 100%;
    height: 50px;
}

.content-inner .a-left {
    float: left;
    background-color: lightpink;
    width: 50%;
    height: 200px;
}

.content-inner .b-left {
    float: left;
    background-color: yellow;
    width: 50%;
    height: 200px;
}

.center-blue {
    height: 100px;
    background-color: dodgerblue;
}

.center-orange {
    float: right;
    background-color: orange;
    height: 300px;
    width: 33.3333%;
}

.center-yellow-container {
    float: right;
    height: 300px;
    width: 33.333%;
}

.center-yellow {
    background-color: yellow;
    height: 150px;
    width: 100%;
}

.center-ab {
    width: 100%;
    height: 150px;
}

.center-a {
    float: left;
    background-color: orange;
    width: 50%;
    height: 200px;
    margin-top: -50px;
}

.center-b {
    float: left;
    background-color: transparent;
    width: 50%;
    height: 150px;
}

.right-orange {
    height: 100px;
    float: right;
    width: 33.333%;
    background-color: orange;
    margin-top: 100px;
}

.right-yellow {
    width: 33.333%;
    float: right;
    height: 100px;
    background-color: yellow;
    margin-top: 150px;
}

.right-blue {
    float: right;
    width: 33.333%;
    background-color: dodgerblue;
    height: 100px;
    margin-top: 200px;
}

.text-right {
    float: right;
    width: 70%;
    height: 25px;
    font-style: italic;
    margin-top: 20px;
    color: dodgerblue;
    background-color: black;
}

.text-left {
    float: left;
    width: 70%;
    margin-top: 10px;
    height: 25px;
    font-style: italic;
    color: dodgerblue;
    background-color: black;
}


.footer {
    height: 200px;
    background-color: #000;
    width: 100%;
}


